

// all supported options: https://github.com/mysqljs/mysql#connection-options
exports.database = {
  database: 'conjugarden',
  user: 'username_here',
  password: 'password_here',
  host: 'localhost',
  port: '3306'
}

exports.translate_command = '/usr/local/bin/translate.sh'
exports.import_verb_command = '/usr/local/bin/getverb.sh'

exports.port = 8080
